html, body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
}

#about-me {
    margin-top: 3rem;
    height: 20rem;
}

.about-me-container {
    display: flex;
    justify-content: space-between;
}

.about-me-text {
    display: flex;
    flex-direction: column;
}

#about-me img {
    max-width: 40%;
    height: auto;
}